@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-50 text-surface-900 antialiased selection:bg-primary-200 selection:text-primary-900 font-sans;
  }
}

@layer utilities {
  .rtl-grid {
    direction: rtl;
  }
}
